html {
  height: 100%;
}

body {
  height: 100%;
  background: hsl(233, 47%, 7%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 70%;
  height: 50%;
  background: red;

}

.card-text {
  width: 50%;
  height: 100%;
  background: green;
  border-radius: 5px;
}

.card-image {
  width: 50%;
  height: 100%;
  background: yellow;
  border-radius: 5px;
}
