@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
  box-sizing: border-box;
  background: black;
  padding: 5vmax 5vmin;
}
.card-image {
  width: 20vw;
  height: 30vh;
  background-image: url('./images/image-header-desktop.jpg');
  background-size: 100% 100%;
}
